@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600);

body {
	font-family: 'Open Sans', sans-serif;
}

/* Header CSS */
header {
	position: relative;
	color: #eeeeee;
	background-color: #272c2f;
	text-align: right;
}
header h1 {
	float: left;
	font-size: 40px;
	margin-left: 80px;
	margin-top: 30px;
}
header nav {
	font-size: 13px;
	padding: 50px 80px 50px 40px;
}
header nav a {
	text-decoration: none;
	color: #eeeeee;
}
header nav .active {
	color: #00aeef;
}
header nav a:after {
	content: '--';
	margin: 0 0.75em;
	color: white;
}
header nav a:last-child::after {
	display: none;
}

/* Title Section CSS */
main {
	width: 960px;
	margin: 0 auto;
	padding-top: 35px;
}
main .title {
	padding: 35px 10px;
}
main .title h2 {
	color: #333333;
	font-size: 47px;
	font-weight: 900;
	margin: 0;
}
main .title h3 {
	color: #bbbbbb;
	font-size: 37px;
	margin: 0;
}
main .title h2 span {
	color: #00aeef;
}

main .summary {
	font-size: 22px;
	color: #555555;
	padding: 25px 10px;
	border-bottom: 3px dotted #bbb;
	border-top: 3px dotted #bbb;
}

/* Service Boxes CSS */
main .service {
	display: inline-block;
	vertical-align: top;
	width: 300px;
	color: white;
	background-color: #00aeef;
	padding: 30px 30px;
	font-size: 13px;
	line-height: 2em;
	text-align: center;
	margin-left: 8px;
	margin-right: 8px;
	margin-top: 40px;
	box-shadow: 5px 5px 5px #aaaaaa;
	min-height: 340px;
}
main .service h3 {
	font-size: 36px;
	margin: 0px;	
	padding-bottom: 25px;
	border-bottom: 2px dotted white;
}
main .service p {
	margin-top: 25px;
	margin-bottom: 25px;
}
main .service button {
	background-color: #0076a3;
	border: 1px solid #15607c;
	color: white;
	width: 230px;
	padding: 15px 0px;
	margin-top:;
}
main .service button:after {
	content: ">>";
	margin-left: 0.5em;
}

/* Additional Section CSS */
main #additional-info {
	color: #555555;
	margin-top: 40px;
	padding-top: 40px;
	border-top: dotted #CCCCCC;
	border-bottom: dotted #CCCCCC;
	padding-bottom: 20px;
}
main .info-section {
	float: left;
	width: 50%;
	padding-left: 10px;
}
main .info-section h5 {
	font-size: 22px;
}
main .testimonials {
	padding-top: 30px;
}
main .testimonial {
	margin-bottom: 40px;
	width: 445px;
	font-size: 13px;
}
main .testimonial figure {
	float: left;
	margin-right: 30px;
	width: 80px;
	height: 80px;
	background-color: #CCCCCC;
}
main .testimonial .description {
	display: block;
	overflow: hidden;
}
main .testimonial .description p {
	margin-top: -3px;
}
main .speaker {
	padding-top: 15px;
}
main .website {
	text-decoration: none;
	color: #00aeef;
}
main .featured {
	padding-left: 25px;
	border-left: dotted #CCCCCC;
}
main .featured h6 {
	font-size: 20px;
	display: inline-block;
	color: #CCCCCC;
	padding-top: 20px;
}
main .featured img {
	width: 430px;
	height: 205px;
	margin: 15px 0px;
	box-shadow: 5px 5px 5px #aaaaaa;
}
main .featured p {
	width: 430px;
	padding-bottom: 15px;
	font-size: 13px;

}
main .featured a {
	text-decoration: none;
	color: #00aeef;
}
main .featured a:after {
	content: ">>";
	margin: 0 0.25em;
}

/* Footer CSS */
main footer {
	margin-left: 10px;
	margin-top: 35px;
	color: #9B9B9B;
}
main footer span:after{
	content: "~";
	margin: 0 0.25em;
}

/* Personal CSS END */
.clearfix { display: inline-block; }
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */
