@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600);

body {
	font-family: 'Open Sans', sans-serif;
}

/* Header CSS */
header {
	position: relative;
	color: #eeeeee;
	background-color: #272c2f;
	text-align: right;
}
header h1 {
	float: left;
	font-size: 40px;
	margin-left: 80px;
	margin-top: 30px;
}
header nav {
	font-size: 13px;
	padding: 50px 80px 50px 40px;
}
header nav a {
	text-decoration: none;
	color: #eeeeee;
}
header nav .active {
	color: #00aeef;
}
header nav a:after {
	content: '--';
	margin: 0 0.75em;
	color: white;
}
header nav a:last-child::after {
	display: none;
}

/* Title Section CSS */
main {
	width: 960px;
	margin: 0 auto;
	padding-top: 35px;
}
main .title {
	padding: 35px 10px;
}
main .title h2 {
	color: #333333;
	font-size: 47px;
	font-weight: 900;
	margin: 0;
}
main .title h3 {
	color: #bbbbbb;
	font-size: 37px;
	margin: 0;
}
main .title h2 span {
	color: #00aeef;
}

main .summary {
	font-size: 22px;
	color: #555555;
	padding: 25px 10px;
	border-bottom: 3px dotted #bbb;
	border-top: 3px dotted #bbb;
}

/* Service Boxes CSS */
main .service {
	display: inline-block;
	width: 245px;
	color: white;
	background-color: #00aeef;
	padding: 25px 30px;
	font-size: 14px;
	line-height: 1.75em;
	text-align: center;
	margin-left: 10px;
	margin-top: 40px;
}
main .service h3 {
	font-size: 36px;
	margin: 0px;	
	padding-bottom: 20px;
	border-bottom: 2px dotted white;
}
main .service button {
	background-color: #0076a3;
	border: 1px solid #15607c;
	color: white;
	width: 230px;
	padding: 15px 0px;
}
main .service button:after {
	content: ">>";
	margin: 0 0.25em;
}

/* Additional Section CSS */
main #additional-info {
	color: #555555;
}
main .testimonial {
	width: 480px;
}
main .testimonial .text {
	display: inline-block;
	font-size: 14px;
}
main .website {
	text-decoration: none;
}
main .featured {
	width: 480px;
}
main h5 {
	font-size: 22px;
}
main .featured h6 {
	font-size: 20px;
}
main .testimonial figure {
	width: 80px;
	height: 80px;
	background-color: #CCCCCC; 
}
main .featured a {
	text-decoration: none;
}
main .featured a:after {
	content: ">>";
	margin: 0 0.25em;
}
