@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(http://themes.googleusercontent.com/static/fonts/opensans/v8/cJZKeOuBrn4kERxqtaUH3bO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}

* {
	margin: 0px 0px 0px 0px;
	font-family: 'Open Sans';
}

header {
	background-color: #272c2f;
	height: 135px;
	position: relative;
}

header .title {
	color: #eeeeee;
	line-height: 47px;
	font-size: 40px;
	float: left;
	margin-left: 80px;
	margin-top: 47px;
}

header .navBar {
	color: #eeeeee;
	line-height: 14px;
	font-size: 13px;
	float: right;
	margin-right: 80px;
	margin-top: 69px;
}

header .navBar a {
	text-decoration: none;
	color: #eeeeee;
}

header .navBar .active {
	color: #00aeef;
}

section .motto1 {
	color: #333333;
	font-size: 47px;
	font-weight: 900;
	float: left;
	line-height: 61px;
	padding-top: 64px;
	margin-left: 80px;
	margin-right: 80px;
}

section .motto2 {
	color: #bbbbbb;
	float: left;
	font-size: 37px;
	line-height: 50px;
	margin-left: 70px;
	margin-right: 80px;
	padding-left: 10px;
	padding-bottom: 40px;
	width: 960px;
	border-bottom-style: dotted;
}

section span {
	color: #00aeef;
}

section .summary {
	float: left;
	font-size: 22px;
	line-height: 29px;
	margin-left: 70px;
	margin-right: 78px;
	color: #555555;
	padding-left: 10px;
	padding-top: 34px;
	padding-bottom: 40px;
	width: 960px;
	border-bottom-style: dotted;
	border-bottom-color: #bbbbbb;
}

section .summary span {
	font-weight: 900;
	color: #555555;
}

section .services {
	float: left;
	text-align: center;
	color: white;
	margin-top: 40px;
	margin-left: 80px;
	margin-right: 80px;
	background-color: #00aeef;
}

table {
	position: relative;
	padding-bottom: 35px;
}

thead {
	font-size: 30px;
}

tbody {
	font-size: 14px;
}

.tableHead td {
	padding-top: 24px;
	padding-bottom: 12px;
	background-color: #00aeef;
}

.tableHead td span {
	color: black;
	padding-left: 30px;
	padding-bottom: 12px;
	padding-right: 30px;
	border-bottom-style: dotted;
}

.tableContent td {
	padding-top: 27px;
	padding-left: 33px;
	padding-right: 33px;
	padding-bottom: 30px;
	background-color: #00aeef;
}

.buttons td {
	background-color: #00aeef;
}

.buttons td span {
	color: white;
	background-color: #0076a3;
	padding-top: 15px;
	padding-bottom: 15px;
}


























