@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(http://themes.googleusercontent.com/static/fonts/opensans/v8/cJZKeOuBrn4kERxqtaUH3bO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}

* {
	margin: 0px 0px 0px 0px;
}

header {
	background-color: #272c2f;
	height: 135px;
	position: relative;
}

header .title {
	color: #eeeeee;
	font-family: 'Open Sans';
	line-height: 47px;
	font-size: 40px;
	float: left;
	margin-left: 80px;
	margin-top: 47px;
}

header .navBar {
	color: #eeeeee;
	line-height: 14px;
	font-size: 13px;
	float: right;
	font-family: 'Open Sans';
	margin-right: 80px;
	margin-top: 69px;
}

header .navBar a {
	text-decoration: none;
	color: #eeeeee;
}

header .navBar .active {
	color: #00aeef;
}

h1 {
	color: #333333;
	font-size: 47px;
	font-weight: 900;
	font-family: 'Open Sans';
	float: left;
	line-height: 61px;
	padding-top: 64px;
	margin-left: 80px;
	margin-right: 80px;
}

h2 {
	color: #bbbbbb;
	float: left;
	font-family: 'Open Sans';
	font-size: 37px;
	line-height: 50px;
	margin-left: 70px;
	margin-right: 80px;
	padding-left: 10px;
}

section span{
	color: #00aeef;
}